<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token%>">
  
  <input type="text" placeholder="Enter email.." name="email">
  <input type="text" placeholder="Enter password.." name="password">
  <button>submit</button>

</form>