<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Database</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div class="search">
    <form action="movie_result">
      <input type="text" name="movie" placeholder="Enter Movie">
      <button>Search</button>
    </form>
  </div>
</body>
</html>