
    <div class="search-container">
      <form></form>
      <div class="ui icon input">
        <input class="search-input" type="text" placeholder="Search pokemon here..">
        <i class="search icon"></i>
      </div>
      <button class="ui violet basic button search-btn">search</button>
    </div>

    <div class="results-container">
      <div class="ui card">
        <div class="image">
      
        </div>
        <div class="content">
          <a class="header"></a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="paw icon"></i>
            
            <div class="ui icon input">
              <input type="text" placeholder="Enter level here..">
            </div>
          </a>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Pokemon
        </div>
      </div>
      
    </div>

