
    <div class="search-container">
      
      <div class="ui icon input">
        <input class="search-input" type="text" placeholder="Search pokemon here..">
        <i class="search icon"></i>
      </div>
      <button class="ui violet basic button search-btn">search</button>
    </div>

    <div class="results-container">
      <div class="ui purple card">
        <div class="image">
      
        </div>
        <div class="content">
          <a class="header"></a>
          <div class="meta">
            <span class="date"></span>
          </div>
          <div class="description">
        
          </div>
        </div>
        <div class="extra content">
          <a>  
            <div class="ui icon input">
              <input type="text" placeholder="Enter level here..">
              <i class="paw icon"></i>
            </div>
          </a>
        </div>
        <form action="/pokemons" method="post">
      
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
          <button class="ui bottom attached button">
          <i class="add icon"></i>
          Add Pokemon
          </button>
        </form>
        
      </div>
      
      
    </div>

